@media only screen and (max-width: 1024px) {
  body {
    font-size: 21px;
  }
}

body {
  min-height: 150vh;
}
nav li  {
  display: inline;
}

#nav-bar {
  position: fixed;
  width: 100px;
  top: 0px;
}
form {
  display: flex;
  justify-content: center;
}
#video {
  border: 5px black solid;
}
